.login-container
{
    display: flex;
}

.form-container
{
    float: right;

    margin: auto 0;
}

.blur
{
    filter: blur(4px); /* Add the desired blur effect */
    pointer-events: none; /* Disable pointer events on the blurred element */
}